html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: rgb(238, 238, 238);
    padding: 2em;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
}
h1, h2, h3{
    margin-top: 1em;
}
div.cards-layout {
    padding: 2em;
    gap: 2em;
}

div.cards-layout:after
{
    display: block;
    content: '';
    flex: 0 0 30%;
    order: 1000;
}

div.cards-layout .card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 0 0 30%;
    max-width: 300px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px gray;
}

div.cards-layout div img {
    display: block;
    width: 100%;
    height: auto;
}

div.masonry {
    max-height: 1500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

div.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer{
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.438);
}
section > p{
    margin: 1em 0;
}


