
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 2em;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

header .site-title {
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li a {
    color: rgb(0, 153, 0);
    padding: 6px;
    text-decoration: none;
}