* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    padding: 2em;
}

.container {
    display: flex;
    max-width: 65vw;
    margin: 0 auto;
}

span {
    display: block;
    border: 1px solid black;
    flex-grow: 1;
    padding: 2em;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section span:nth-child(1),
section span:nth-child(7) {
    flex: 1 0 100%
}