* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: rgb(238, 238, 238);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font: 1em/1.2 Georgia, sans-serif;
}

.card {
    background: rgb(255, 255, 255);
    Width: 500px;
    margin: 0 auto;

}



h3 {
    padding-top: 1.5em;
    padding-left: 2em;
}

p {
    padding: 1em 2em;
}

a {
    background-color: rgb(0, 153, 0);
    color: #FFF;
    text-decoration: none;
    border-radius: 0.2em;
    padding: 0.5em 0.7em;
}

.button {
    position: relative;
    top: 0.5em;
    left: 17em;
    
    }
    

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    background-color: rgb(255, 255, 255);
    border-radius: 0.3em;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
}

.content {
    height: 11em;
}

.img-box {
    height: 14em;
    background-color: #333;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    overflow: hidden;
    position: relative;
}

.img-box img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}