/* <!-- •	Add section with class gallery (section.gallery)
•	Add unordered list with list items and images inside
•	Change the body, ul and li display property to flex
•	Set the ul property justify-content to be equal to space-between --> */
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    padding: 2em;
    background-color: beige;
}

.gallery{
    max-width: 70em;
    margin: 0 auto;
}

.gallery ul
{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

   
}
   
.gallery li{
    list-style: none outside;
    border: 6px solid #000;
    padding: 0.5em;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex: 0 0 30%;
    box-shadow: 
    0 0 1em 0 rgb(0, 0, 0, 0.3),
    0 0 0.3em 0 rgb(0, 0, 0, 0.4) inset;
}

img{
    display: block;
    width: 100%;
    height: auto;
}
