* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #eee;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    text-transform: uppercase;

}

body>* {
    padding: 1em;
    background-color: #EEE;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    border-radius: 0.3em;
    min-height: 400px;
}

body>header,
body>footer {
    flex-basis:100%;
}

body>main {
    flex: 1 0 70%
}

body>aside {
    flex: 1 1 auto;
}